body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    background-color: black; /* 배경색을 검은색으로 설정 */
    color: white; /* 모든 글자의 기본 색상을 흰색으로 설정 */
}

input, button {
    font-size: 16px;
    padding: 8px;
    margin: 5px;
    color: black; /* 입력란과 버튼의 글자 색상을 검은색으로 설정 */
    background-color: white; /* 입력란과 버튼의 배경색을 흰색으로 설정 */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    background-color: black;
    color: white;
}

input, button {
    font-size: 16px;
    padding: 8px;
    margin: 5px;
    color: black;
    background-color: white;
}

#results div {
    margin-top: 10px;
}

.correct {
    color: green; /* 정확한 자리 */
}

.wrong-place {
    color: orange; /* 잘못된 자리 */
}

.wrong-number {
    color: red; /* 틀린 숫자 */
}

#welcomeMessage {
    font-size: 2em; /* 폰트 크기를 2배로 설정 */
    color: green; /* 폰트 색상을 지정 */
    text-align: center;
    margin-top: 20px;
}
